/* Estilos do menu */
#menu li {
    display: inline;
    padding: 15px;
    font-size: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    color: white;
}

/* Estilos das páginas index.html, favoritos.html e contato.html*/
.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.container > div {
    font-size: 20px;
    flex-flow: row wrap;
    padding: 20px;
}

.center {
    text-align: center;
}

.signature {
    font-family: segoe script;
    text-align: center;
    font-size: 20px;
}

/* Estilização do formulário de contato */
.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > div {
    font-size: 20px;
    padding: 20px;
}

